::selection {
   background: transparent;
}

::-moz-selection {
   background: transparent;
}

.matrixContainer {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.container {
	display: fds;
}*/

/* .matrixContainers {
	width: 200px;
	overflow: hidden;
    overflow-x: scroll;
    vertical-align: top;
} */